<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program</key>
	<string>/Library/Input Methods/Mozc.app/Contents/Resources/MozcRenderer.app/Contents/MacOS/MozcRenderer</string>
	<key>Label</key>
	<string>org.mozc.inputmethod.Japanese.Renderer</string>
	<key>MachServices</key>
	<dict>
		<key>org.mozc.inputmethod.Japanese.Renderer.renderer</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
