Source: mozc
Section: utils
Priority: extra
Maintainer: Seigo Nonaka <nona>
Build-Depends: debhelper (>= 4.0.0), libibus-dev | libibus-1.0-dev, libcurl4-openssl-dev, pkg-config, libqt4-dev, scim, libscim-dev, gyp, libzinnia-dev
Standards-Version: 3.6.2

Package: ibus-mozc
Architecture: any
Depends: ${shlibs:Depends}, ibus, mozc-server (= ${Source-Version})
Description: IBus engine module for Mozc.

Package: scim-mozc
Architecture: any
Depends: ${shlibs:Depends}, scim, mozc-server (= ${Source-Version})
Description: SCIM IMEngine module for Mozc.

Package: emacs-mozc
Architecture: all
Depends: emacs | emacs22 | emacs23 | emacs-snapshot, emacs-mozc-bin (= ${Source-Version})
Description: Mozc for Emacs.

Package: emacs-mozc-bin
Architecture: any
Depends: ${shlibs:Depends}, mozc-server (= ${Source-Version})
Description: Helper module for emacs-mozc

Package: mozc-server
Architecture: any
Depends: ${shlibs:Depends}
Description: Server part of the Mozc input method, used by Mozc clients such as ibus-mozc.

Package: mozc-utils-gui
Architecture: any
Depends: ${shlibs:Depends}, mozc-server (= ${Source-Version}), tegaki-zinnia-japanese, libzinnia0
Description: Mozc GUI utilities, such as the configuration dialog, user dictionary tool and about dialog.
