<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>product_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${MARKETING_VERSION}</string>
	<key>CFBundleGetInfoString</key>
	<string>${GOOGLE_VERSIONINFO_FINDER}</string>
	<key>NSHumanReadableCopyright</key>
	<string>${GOOGLE_VERSIONINFO_ABOUT}</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.base</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>hiragana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>J</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>hiragana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>hiragana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.Katakana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.Katakana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>full_katakana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>2</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>K</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>full_katakana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>full_katakana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.HalfWidthKana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.HalfWidthKana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>half_katakana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>2</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>:</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>half_katakana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>half_katakana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.FullWidthRoman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.FullWidthRoman</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>full_ascii.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>0</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>L</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>full_ascii.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>full_ascii.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Roman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.Roman</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>direct.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>3</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>;</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>direct.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>direct.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
			<string>com.apple.inputmethod.Japanese.Katakana</string>
			<string>com.apple.inputmethod.Japanese.HalfWidthKana</string>
			<string>com.apple.inputmethod.Japanese.FullWidthRoman</string>
			<string>com.apple.inputmethod.Roman</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>${PRODUCT_NAME}_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>MozcImkInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>MozcImkInputController</string>
	<key>InputMethodServerDataSourceClass</key>
	<string>MozcImkInputController</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Hani</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>product_icon.icns</string>
</dict>
</plist>
