# Common options
build --cxxopt "-std=c++20"
build --copt "-funsigned-char"
build --copt "-Wno-sign-compare"
build --copt "-Wno-char-subscripts"
build --host_cxxopt "-std=c++20"
build --host_copt "-funsigned-char"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-char-subscripts"
build --objccopt "-fsigned-char"

# Linux
build:linux --define TARGET=oss_linux --copt "-fPIC"
build:linux --build_tag_filters=-nolinux
test:linux --test_tag_filters=-nolinux
build:oss_linux --define TARGET=oss_linux --copt "-fPIC"
build:oss_linux --build_tag_filters=-nolinux
test:oss_linux --test_tag_filters=-nolinux

build:prod_linux --define TARGET=prod_linux --copt "-fPIC"
build:prod_linux --build_tag_filters=-nolinux

# macOS
build:macos --define TARGET=oss_macos --build_tag_filters=-nomac
test:macos --define TARGET=oss_macos --test_tag_filters=-nomac
build:oss_macos --define TARGET=oss_macos --build_tag_filters=-nomac
test:oss_macos --define TARGET=oss_macos --test_tag_filters=-nomac
build:prod_macos --define TARGET=prod_macos --build_tag_filters=-nomac

# Windows
build:windows --define TARGET=oss_windows --build_tag_filters=-nowin
build:oss_windows --define TARGET=oss_windows --build_tag_filters=-nowin
build:prod_windows --define TARGET=prod_windows --build_tag_filters=-nowin

# Android / OSS Android (same configurations)
build:android --define TARGET=oss_android --copt "-DOS_ANDROID"
build:android --android_crosstool_top=@androidndk//:toolchain --fat_apk_cpu=armeabi-v7a,arm64-v8a,x86,x86_64
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:android --build_tag_filters=-noandroid
test:android --test_tag_filters=-noandroid
build:oss_android --define TARGET=oss_android --copt "-DOS_ANDROID"
build:oss_android --android_crosstool_top=@androidndk//:toolchain --fat_apk_cpu=armeabi-v7a,arm64-v8a,x86,x86_64
build:oss_android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:oss_android --build_tag_filters=-noandroid
test:oss_android --test_tag_filters=-noandroid
