# Common options
build --cxxopt "-std=c++17"
build --copt "-funsigned-char"
build --copt "-Wno-sign-compare"
build --copt "-Wno-char-subscripts"
build --host_cxxopt "-std=c++17"
build --host_copt "-funsigned-char"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-char-subscripts"
build --objccopt "-fsigned-char"

# Linux
build:linux --define TARGET=oss_linux --copt "-fPIC"
build:oss_linux --define TARGET=oss_linux --copt "-fPIC"

# Android
build:android --define TARGET=oss_android \
    --copt "-DOS_ANDROID" \
    --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a \
    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:oss_android --define TARGET=oss_android \
    --copt "-DOS_ANDROID" \
    --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a \
    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
