# Common options
build --cxxopt "-std=c++17"
build --copt "-funsigned-char"
build --copt "-Wno-sign-compare"
build --copt "-Wno-char-subscripts"
build --host_cxxopt "-std=c++17"
build --host_copt "-funsigned-char"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-char-subscripts"
build --objccopt "-fsigned-char"

# Linux
build:linux --define TARGET=oss_linux --copt "-fPIC"
build:linux --build_tag_filters=-nolinux
build:oss_linux --define TARGET=oss_linux --copt "-fPIC"
build:oss_linux --build_tag_filters=-nolinux

# macOS
build:macos --define TARGET=oss_macos --build_tag_filters=-nomac
build:oss_macos --define TARGET=oss_macos --build_tag_filters=-nomac

# Android / OSS Android (same configurations)
build:android --define TARGET=oss_android --copt "-DOS_ANDROID"
build:android --crosstool_top=@androidndk//:toolchain --cpu=armeabi-v7a
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:android --build_tag_filters=-noandroid
build:oss_android --define TARGET=oss_android --copt "-DOS_ANDROID"
build:oss_android --crosstool_top=@androidndk//:toolchain --cpu=armeabi-v7a
build:oss_android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:oss_android --build_tag_filters=-noandroid
