<?xml version='1.0' encoding='utf-8'?>
<!--
 Copyright 2010-2021, Google Inc.
 All rights reserved.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are
 met:

     * Redistributions of source code must retain the above copyright
 notice, this list of conditions and the following disclaimer.
     * Redistributions in binary form must reproduce the above
 copyright notice, this list of conditions and the following disclaimer
 in the documentation and/or other materials provided with the
 distribution.
     * Neither the name of Google Inc. nor the names of its
 contributors may be used to endorse or promote products derived from
 this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->


<!-- Define variables with default values if not exist. WiX compiler does not
     allow to use any undefined variable even when the variable is referenced
     between ifdef conditional block. -->
<?ifndef Qt5CoreDllPath ?>
  <?define Qt5CoreDllPath="" ?>
<?endif?>
<?ifndef Qt5CoredDllPath ?>
  <?define Qt5CoredDllPath="" ?>
<?endif?>
<?ifndef Qt5GuiDllPath ?>
  <?define Qt5GuiDllPath="" ?>
<?endif?>
<?ifndef Qt5GuidDllPath ?>
  <?define Qt5GuidDllPath="" ?>
<?endif?>
<?ifndef Qt5WidgetsDllPath ?>
  <?define Qt5WidgetsDllPath="" ?>
<?endif?>
<?ifndef Qt5WidgetsdDllPath ?>
  <?define Qt5WidgetsdDllPath="" ?>
<?endif?>
<?ifndef QWindowsDllPath ?>
  <?define QWindowsDllPath="" ?>
<?endif?>
<?ifndef QWindowsdDllPath ?>
  <?define QWindowsdDllPath="" ?>
<?endif?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!--
    It appears that Windows Installer emits error on upgrade saying "Another
    version of this product is already installed" unless we change the product
    ID even when we follow the instructions in "Changing the Product Code"
    http://msdn.microsoft.com/en-us/library/aa367850.aspx.
    So we change the product ID for every new version.
  -->
  <Product Name='Mozc' Id='*'
      Language='1041' Codepage='932' Version='$(var.MozcVersion)'
      Manufacturer='Google Inc.' UpgradeCode='$(var.UpgradeCode)'>

    <Package Keywords='Installer' Description='Mozc インストーラー'
        Manufacturer='Google Inc.' Languages='1041' SummaryCodepage='932'
        InstallerVersion='405' InstallPrivileges='elevated'
        Compressed='yes'/>

    <!--
                     VersionNT
       Windows 8.0      602
       Windows 8.1      603
       Windows 10       603
       Windows 11       603
       https://learn.microsoft.com/en-us/troubleshoot/windows-client/application-management/versionnt-value-for-windows-10-server
    -->
    <Condition
        Message='Mozc をインストールするには Windows 10 以降にアップグレードする必要があります。'>
        VersionNT &gt;= 603
    </Condition>

    <!-- Check if the user have the administrative privileges. -->
    <Condition
        Message='Mozc をインストールするには管理者権限が必要です。'>
      Privileged
    </Condition>
    <Condition
        Message='32-bit 版パッケージを 64-bit 環境にインストールしようとしたためインストールを中止しました。64-bit 版を利用して下さい。'>
      (NOT VersionNT64)
    </Condition>

    <Media Id='1' Cabinet='Mozc.cab' EmbedCab='yes'
        CompressionLevel='high'/>

    <!-- Set Add/Remove Program Icon -->
    <Icon Id="add_remove_program_icon.ico"
          SourceFile="$(var.AddRemoveProgramIconPath)" />
    <Property Id="ARPPRODUCTICON"
        Value="add_remove_program_icon.ico" />

    <!-- Install the product for all users. -->
    <Property Id='ALLUSERS' Value='1' />

    <!-- Disable Modify and Repair buttons. -->
    <Property Id='ARPNOMODIFY' Value='1' />
    <Property Id='ARPNOREPAIR' Value='1' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='MozcDir' Name='Mozc'>
          <Component Id='MozcServer' Guid='*'>
            <File Id='mozc_server.exe'
                Name='mozc_server.exe' DiskId='1'
                Checksum='yes' Source='$(var.MozcServer32Path)' Vital='yes' />
          </Component>
          <Component Id='MozcCacheService' Guid='*'>
            <File Id='mozc_cache_service.exe'
                Name='mozc_cache_service.exe' DiskId='1'
                Checksum='yes' Source='$(var.MozcCacheService32Path)'
                Vital='yes' KeyPath='yes' />
            <!--
              To use localized description, set Description as follows:
                Description='@[#mozc_cache_service.exe],-N'
              where N is the resource ID for the description.
              http://msdn.microsoft.com/en-us/library/ms685156.aspx

              See server/mozc_cache_service_resource.h for resource IDs
              used below.

              The servie name specified in 'Name' needs to be the same to
              |mozc::kMozcCacheServiceName| defined in base/const.h.
              TODO(yukawa): Share these parameters. http://b/2357270
            -->
            <ServiceInstall Id='MozcCacheService'
                Name='MozcCacheService'
                DisplayName='@[#mozc_cache_service.exe],-100'
                Description='@[#mozc_cache_service.exe],-101'
                Type='ownProcess' Start='auto' ErrorControl='normal' />
            <!--
              The following entry which stops our cache service both on
              installation and uninstallation should be the first entry in
              the ServiceControl table.  Otherwise, restart manager does not
              recognise that the specified service will be stopped during the
              instalaltion.  See http://b/2440272 for details.
            -->
            <ServiceControl Id='StopMozcCacheService'
                Name='MozcCacheService' Stop='both' Remove='uninstall'
                Wait='yes' />
          </Component>
          <Component Id='MozcTIP32' Guid='*' Permanent='no' Win64="no">
            <File Id='mozc_ja_tip32.dll'
                Name='mozc_ja_tip32.dll'
                DiskId='1' Checksum='yes'
                Source='$(var.MozcTIP32Path)' Vital='yes'>
              <Class Context="InprocServer32" ThreadingModel="apartment"
                    Description="Mozc"
                    Id="10A67BC8-22FA-4A59-90DC-2546652C56BF" />
            </File>
          </Component>
          <Component Id='MozcBroker' Guid='*' Permanent='no'>
            <File Id='mozc_broker.exe'
                Name='mozc_broker.exe'
                DiskId='1' Checksum='yes'
                Source='$(var.MozcBroker32Path)' Vital='yes' />
          </Component>
          <Component Id='MozcRenderer' Guid='*'>
            <File Id='mozc_renderer.exe'
                Name='mozc_renderer.exe' DiskId='1' Vital='yes'
                Checksum='yes' Source='$(var.MozcRenderer32Path)' />
          </Component>
          <?if ($(var.VSConfigurationName) = "Release") and ($(var.Qt5CoreDllPath) != "") ?>
            <Component Id='msvcp140' Guid='*'>
              <File Id='msvcp140.dll' Name='msvcp140.dll'
                  DiskId='1' Checksum='yes'
                  Source='$(var.ReleaseRedistCrt32Dir)/msvcp140.dll' />
            </Component>
            <Component Id='vcruntime140' Guid='*'>
              <File Id='vcruntime140.dll' Name='vcruntime140.dll'
                  DiskId='1' Checksum='yes'
                  Source='$(var.ReleaseRedistCrt32Dir)/vcruntime140.dll' />
            </Component>
          <?endif?>
          <Component Id='MozcTool' Guid='*'>
            <File Id='mozc_tool.exe'
                Name='mozc_tool.exe' DiskId='1'
                Checksum='yes' Source='$(var.MozcToolPath)' Vital='yes' />
          </Component>
          <?if $(var.VSConfigurationName) = "Debug" ?>
            <?if $(var.Qt5CoredDllPath) != "" ?>
              <Component Id='Qt5CoredDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Cored.dll' Name='Qt5Cored.dll' On="install" />
                <File Id='Qt5Cored.dll'
                    Name='Qt5Cored.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5CoredDllPath)' />
              </Component>
            <?endif?>
            <?if $(var.Qt5GuidDllPath) != "" ?>
              <Component Id='Qt5GuidDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Guid.dll' Name='Qt5Guid.dll' On="install" />
                <File Id='Qt5Guid.dll'
                    Name='Qt5Guid.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5GuidDllPath)' />
              </Component>
            <?endif?>
            <?if $(var.Qt5WidgetsdDllPath) != "" ?>
              <Component Id='Qt5WidgetsdDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Widgetsd.dll' Name='Qt5Widgetsd.dll' On="install" />
                <File Id='Qt5Widgetsd.dll'
                    Name='Qt5Widgetsd.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5WidgetsdDllPath)' />
              </Component>
            <?endif?>
          <?else?>
            <?if $(var.Qt5CoreDllPath) != "" ?>
              <Component Id='Qt5CoreDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Core.dll' Name='Qt5Core.dll' On="install" />
                <File Id='Qt5Core.dll'
                    Name='Qt5Core.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5CoreDllPath)' />
              </Component>
            <?endif?>
            <?if $(var.Qt5GuiDllPath) != "" ?>
              <Component Id='Qt5GuiDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Gui.dll' Name='Qt5Gui.dll' On="install" />
                <File Id='Qt5Gui.dll'
                    Name='Qt5Gui.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5GuiDllPath)' />
              </Component>
            <?endif?>
            <?if $(var.Qt5WidgetsDllPath) != "" ?>
              <Component Id='Qt5WidgetsDll' Guid='*'>
                <!-- Always overwrite: b/31845781 -->
                <RemoveFile Id='Qt5Widgets.dll' Name='Qt5Widgets.dll' On="install" />
                <File Id='Qt5Widgets.dll'
                    Name='Qt5Widgets.dll' DiskId='1' Vital='yes'
                    Checksum='yes' Source='$(var.Qt5WidgetsDllPath)' />
              </Component>
            <?endif?>
          <?endif?>
          <Directory Id='DocumentsDir' Name='documents'>
            <Component Id='CreditsEn' Guid='*'>
              <File Id='credits_en.html' Name='credits_en.html' DiskId='1'
                    Checksum='yes' Vital='yes'
                    Source='$(var.DocumentsDir)/credits_en.html' />
            </Component>
          </Directory>
          <?if ($(var.QWindowsdDllPath) != "") or ($(var.QWindowsDllPath) != "") ?>
            <Directory Id='QtPlatformsPluginDir' Name='platforms'>
              <?if ($(var.QWindowsdDllPath) != "") and ($(var.VSConfigurationName) = "Debug") ?>
                <Component Id='QWindowsdDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='qwindowsd.dll' Name='qwindowsd.dll' On="install" />
                  <File Id='qwindowsd.dll'
                      Name='qwindowsd.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.QWindowsdDllPath)' />
                </Component>
              <?endif?>
              <?if ($(var.QWindowsDllPath) != "") and ($(var.VSConfigurationName) != "Debug") ?>
                <Component Id='QWindowsDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='qwindows.dll' Name='qwindows.dll' On="install" />
                  <File Id='qwindows.dll'
                      Name='qwindows.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.QWindowsDllPath)' />
                </Component>
              <?endif?>
            </Directory>
          <?endif?>
        </Directory>
      </Directory>

      <!--
        Write registry keys to make sure mozc_server.exe and
        mozc_renderer.exe exit when a user logoff via remote desctop
        connection.
      -->
      <Component Id='SysProcs' Guid='*'>
        <RegistryValue Id='SysProcsMozcServer' Root='HKLM'
            Key='SYSTEM\CurrentControlSet\Control\Terminal Server\SysProcs'
            Name='mozc_server.exe' Value='0' Action='write'
            Type='integer' />
        <RegistryValue Id='SysProcsMozcRenderer' Root='HKLM'
            Key='SYSTEM\CurrentControlSet\Control\Terminal Server\SysProcs'
            Name='mozc_renderer.exe' Value='0' Action='write'
            Type='integer' />
      </Component>

      <!--
        Write a registry key to launch mozc_server.exe and
        mozc_renderer.exe automatically after user logon.
      -->
      <Component Id='PrelaunchProcesses' Guid='*'>
        <RegistryValue Id='RunBroker' Root='HKLM'
            Key='Software\Microsoft\Windows\CurrentVersion\Run'
            Name='Mozc Prelauncher' Action='write' Type='string'
            Value='&quot;[MozcDir]mozc_broker.exe&quot; --mode=prelaunch_processes' />
      </Component>
    </Directory>

    <!--
       TODO: Consider migrating to 'MajorUpgrade' rule.
       See https://github.com/google/mozc/issues/734#issuecomment-1524294119
    -->
    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion
          Minimum='0.0.0.0' IncludeMinimum='yes'
          Maximum='$(var.MozcVersion)' IncludeMaximum='yes'
          OnlyDetect='no' Property='UPGRADING'/>
      <UpgradeVersion
          Minimum='$(var.MozcVersion)' IncludeMinimum='no'
          OnlyDetect='yes' Property='NEWERVERSIONDETECTED' />
    </Upgrade>

    <UI>
      <Error Id="4000">新しいバージョンの Mozc が既にインストールされています。</Error>
    </UI>

    <Feature Id='MozcInstall' Title='Mozc' Level='1'>
      <ComponentRef Id='MozcTIP32' />
      <ComponentRef Id='MozcBroker' />
      <ComponentRef Id='MozcServer' />
      <ComponentRef Id='MozcCacheService' />
      <ComponentRef Id='MozcRenderer' />
      <ComponentRef Id='MozcTool' />
      <?if ($(var.VSConfigurationName) = "Release") and ($(var.Qt5CoreDllPath) != "") ?>
        <ComponentRef Id='msvcp140' />
        <ComponentRef Id='vcruntime140' />
      <?endif?>
      <?if $(var.VSConfigurationName) = "Debug" ?>
        <?if $(var.Qt5CoredDllPath) != "" ?>
          <ComponentRef Id='Qt5CoredDll' />
        <?endif?>
        <?if $(var.Qt5GuidDllPath) != "" ?>
          <ComponentRef Id='Qt5GuidDll' />
        <?endif?>
        <?if $(var.Qt5WidgetsdDllPath) != "" ?>
          <ComponentRef Id='Qt5WidgetsdDll' />
        <?endif?>
        <?if $(var.QWindowsdDllPath) != "" ?>
          <ComponentRef Id='QWindowsdDll' />
        <?endif?>
      <?else?>
        <?if $(var.Qt5CoreDllPath) != "" ?>
          <ComponentRef Id='Qt5CoreDll' />
        <?endif?>
        <?if $(var.Qt5GuiDllPath) != "" ?>
          <ComponentRef Id='Qt5GuiDll' />
        <?endif?>
        <?if $(var.Qt5WidgetsDllPath) != "" ?>
          <ComponentRef Id='Qt5WidgetsDll' />
        <?endif?>
        <?if $(var.QWindowsDllPath) != "" ?>
          <ComponentRef Id='QWindowsDll' />
        <?endif?>
      <?endif?>
      <ComponentRef Id='SysProcs' />
      <ComponentRef Id='PrelaunchProcesses' />
      <ComponentRef Id='CreditsEn' />
    </Feature>

    <Binary Id='CustomActions32' SourceFile='$(var.CustomActions32Path)' />

    <CustomAction Id='RegisterTIP32' BinaryKey='CustomActions32'
        DllEntry='RegisterTIP' Execute='deferred' Impersonate='no' />
    <CustomAction Id='RegisterTIPRollback32' BinaryKey='CustomActions32'
        DllEntry='RegisterTIPRollback' Execute='rollback' Impersonate='no' />
    <CustomAction Id='UnregisterTIP32' BinaryKey='CustomActions32'
        DllEntry='UnregisterTIP' Execute='deferred' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='UnregisterTIPRollback32' BinaryKey='CustomActions32'
        DllEntry='UnregisterTIPRollback' Execute='rollback' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='EnsureAllApplicationPackagesPermisssions'
        BinaryKey='CustomActions32'
        DllEntry='EnsureAllApplicationPackagesPermisssions' Execute='deferred'
        Impersonate='no' Return='ignore' />
    <CustomAction Id='ShutdownServer' BinaryKey='CustomActions32'
        DllEntry='ShutdownServer' Impersonate='yes' Return='ignore' />
    <CustomAction Id='RestoreUserIMEEnvironment' BinaryKey='CustomActions32'
        DllEntry='RestoreUserIMEEnvironment' Impersonate='yes' Return='ignore'/>
    <CustomAction Id='EnsureIMEIsDisabledForServiceAccountBeforeUninstall'
        BinaryKey='CustomActions32' Execute='deferred'
        DllEntry='EnsureIMEIsDisabledForServiceAccount' Impersonate='no'
        Return='ignore'/>
    <CustomAction Id='EnsureIMEIsDisabledForServiceAccountAfterInstall'
        BinaryKey='CustomActions32' Execute='deferred'
        DllEntry='EnsureIMEIsDisabledForServiceAccount' Impersonate='no'
        Return='ignore'/>
    <CustomAction Id='InitialInstallation' BinaryKey='CustomActions32'
        DllEntry='InitialInstallation' Execute='deferred'
        Impersonate='no' />
    <CustomAction Id='InitialInstallationCommit' BinaryKey='CustomActions32'
        DllEntry='InitialInstallationCommit' Execute='commit'
        Impersonate='no' />
    <CustomAction Id='EnableTipProfile' BinaryKey='CustomActions32'
        DllEntry='EnableTipProfile' Execute='commit'
        Impersonate='yes' />
    <CustomAction Id='HideCancelButton' BinaryKey='CustomActions32'
        DllEntry='HideCancelButton' Return='ignore' />
    <CustomAction Id='SaveCustomActionData' BinaryKey='CustomActions32'
        DllEntry='SaveCustomActionData' />
    <CustomAction Id='RestoreServiceState' BinaryKey='CustomActions32'
        DllEntry='RestoreServiceState' Impersonate='no' Execute='deferred'
        Return='ignore' />
    <CustomAction Id='StopCacheServiceForRollback' BinaryKey='CustomActions32'
        DllEntry='StopCacheService' Impersonate='no'
        Execute='rollback' Return='ignore' />
    <CustomAction Id="NewerVersionError" Error="4000"/>
    <InstallExecuteSequence>
      <Custom Action='HideCancelButton' After='InitialInstallation' />
      <Custom Action='InitialInstallation' After='InstallInitialize'>
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='SaveCustomActionData' Before='StopServices' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <SelfUnregModules />
      <Custom Action='RestoreUserIMEEnvironment' After='SelfUnregModules'>
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <!--
        EnsureIMEIsDisabledForServiceAccountBeforeUninstall should be invoked
        before Mozc's KLID is removed, which means you should call this action
        before UninstallIME.
      -->
      <Custom Action='EnsureIMEIsDisabledForServiceAccountBeforeUninstall'
          After='RestoreUserIMEEnvironment' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <!-- This action invoked only when removal of the old product failed. -->
      <Custom Action='UnregisterTIPRollback32'
          After='EnsureIMEIsDisabledForServiceAccountBeforeUninstall' >
        (REMOVE="ALL") AND UPGRADINGPRODUCTCODE
      </Custom>
      <Custom Action='UnregisterTIP32' After='UnregisterTIPRollback32' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <SelfRegModules />
      <!--
        The InstallValidate action notifies the user
        if mozc_server.exe and mozc_renderer.exe
        are currenly running. So the ShutdownServer action
        needs to be callled before the InstallValidate action.
      -->
      <Custom Action='ShutdownServer' Before='InstallValidate' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <Custom Action='NewerVersionError' After='FindRelatedProducts'>
        NEWERVERSIONDETECTED
      </Custom>
      <!--
        RemoveExistingProducts needs to be scheduled between InstallExecute and
        InstallFinalize to correctly deal with errors which occur when the old
        product is removed on upgrade.
        http://msdn.microsoft.com/en-us/library/aa371197(VS.85).aspx
      -->
      <InstallExecute Before='RemoveExistingProducts' />
      <RemoveExistingProducts Before='StopCacheServiceForRollback' />
      <!--
        When the installer enters rollback mode, the cache service should be
        stopped before RemoveExistingProducts is invoked.
      -->
      <Custom Action='StopCacheServiceForRollback' Before='RestoreServiceState'>
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='RestoreServiceState' Before='RegisterTIPRollback32'>
        (NOT (REMOVE="ALL"))
      </Custom>
      <!--
        If error occurs after RegisterTIP32,
        the registration needs to be canceled by registering the old product.
        So RegisterTIP32 needs to be scheduled after RemoveExistingProduct.
      -->
      <Custom Action='RegisterTIPRollback32' Before='RegisterTIP32' >
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='RegisterTIP32'
          Before='EnsureAllApplicationPackagesPermisssions' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='EnsureAllApplicationPackagesPermisssions'
          Before='EnsureIMEIsDisabledForServiceAccountAfterInstall' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='EnsureIMEIsDisabledForServiceAccountAfterInstall'
          Before='InstallFinalize' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='InitialInstallationCommit'
          After='EnsureIMEIsDisabledForServiceAccountAfterInstall'>
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='EnableTipProfile'
          After='InitialInstallationCommit'>
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <!-- show reboot dialog to execute pending file opartions -->
      <?if ($(var.VSConfigurationName) = "Release") ?>
        <ScheduleReboot After='InstallFinalize'>
          (REMOVE="ALL")
        </ScheduleReboot>
      <?endif?>
    </InstallExecuteSequence>
  </Product>
</Wix>
