<?xml version='1.0' encoding='utf-8'?>
<!--
 Copyright 2010-2021, Google Inc.
 All rights reserved.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are
 met:

     * Redistributions of source code must retain the above copyright
 notice, this list of conditions and the following disclaimer.
     * Redistributions in binary form must reproduce the above
 copyright notice, this list of conditions and the following disclaimer
 in the documentation and/or other materials provided with the
 distribution.
     * Neither the name of Google Inc. nor the names of its
 contributors may be used to endorse or promote products derived from
 this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->


<?ifdef var.MozcVersionFile ?>
  <?include $(var.MozcVersionFile) ?>
<?endif?>

<!-- Define variables with default values if not exist. WiX compiler does not
     allow to use any undefined variable even when the variable is referenced
     between ifdef conditional block. -->
<?ifndef Qt5CoreDllPath ?>
  <?define Qt5CoreDllPath="" ?>
<?endif?>
<?ifndef Qt5CoredDllPath ?>
  <?define Qt5CoredDllPath="" ?>
<?endif?>
<?ifndef Qt5GuiDllPath ?>
  <?define Qt5GuiDllPath="" ?>
<?endif?>
<?ifndef Qt5GuidDllPath ?>
  <?define Qt5GuidDllPath="" ?>
<?endif?>
<?ifndef Qt5WidgetsDllPath ?>
  <?define Qt5WidgetsDllPath="" ?>
<?endif?>
<?ifndef Qt5WidgetsdDllPath ?>
  <?define Qt5WidgetsdDllPath="" ?>
<?endif?>
<?ifndef QWindowsDllPath ?>
  <?define QWindowsDllPath="" ?>
<?endif?>
<?ifndef QWindowsdDllPath ?>
  <?define QWindowsdDllPath="" ?>
<?endif?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!--
    It appears that Windows Installer emits error on upgrade saying "Another
    version of this product is already installed" unless we change the product
    ID even when we follow the instructions in "Changing the Product Code"
    http://msdn.microsoft.com/en-us/library/aa367850.aspx.
    So we change the product ID for every new version.
  -->
  <Product Name='Google 日本語入力' Id='*'
      Language='1041' Codepage='932' Version='$(var.MozcVersion)'
      Manufacturer='Google Inc.' UpgradeCode='$(var.UpgradeCode)'>

    <Package Keywords='Installer' Description='Google 日本語入力 インストーラー'
        Manufacturer='Google Inc.' Languages='1041' SummaryCodepage='932'
        InstallerVersion='500' InstallPrivileges='elevated'
        Compressed='yes' Platform='x64' />

    <!--
                     VersionNT
       Windows 8.0      602
       Windows 8.1      603
       Windows 10       603
       Windows 11       603
       https://learn.microsoft.com/en-us/troubleshoot/windows-client/application-management/versionnt-value-for-windows-10-server
    -->
    <Condition
        Message='Google 日本語入力をインストールするには Windows 10 以降にアップグレードする必要があります。'>
        VersionNT &gt;= 603
    </Condition>

    <!-- Check if the user have the administrative privileges. -->
    <Condition
        Message='Google 日本語入力をインストールするには管理者権限が必要です。'>
      Privileged
    </Condition>
    <Media Id='1' Cabinet='GoogleJapaneseInput.cab' EmbedCab='yes'
        CompressionLevel='high'/>

    <!-- Set Add/Remove Program Icon -->
    <Icon Id="add_remove_program_icon.ico"
          SourceFile="$(var.AddRemoveProgramIconPath)" />
    <Property Id="ARPPRODUCTICON"
        Value="add_remove_program_icon.ico" />

    <!-- Install the product for all users. -->
    <Property Id='ALLUSERS' Value='1' />

    <!-- Disable Modify and Repair buttons. -->
    <Property Id='ARPNOMODIFY' Value='1' />
    <Property Id='ARPNOREPAIR' Value='1' />

    <!--
      A fail-fast mechanism against channel mismatch.  Currently we focus on
      preventing existing/initial beta users from upgrading/installing
      dev package by mistakes in update configuration.
      Note that we should allow users to uninstall the product regardless of
      the registered channel name.  Never remove (REMOVE="ALL") from the
      condition below.
    -->
    <?if ($(var.VSConfigurationName) = "Release") and ($(var.OmahaChannelType) = "dev") ?>
      <!-- Retrieves previous channel name for Omaha -->
      <Property Id="PREVIOUSCHANNELNAME">
        <RegistrySearch Id='OmahaApValue' Type='raw' Root='HKLM'
            Key='$(var.OmahaClientStateKey)' Name='ap' Win64='no'>
        </RegistrySearch>
      </Property>

      <Condition
          Message='このパッケージは開発版です。配布サーバーの設定ミスの可能性があるため、インストールを中止しました。Google 日本語入力チームまでご連絡下さい。'>
        (PREVIOUSCHANNELNAME="external-dev64") OR
        (PREVIOUSCHANNELNAME="internal-dev64") OR
        (PREVIOUSCHANNELNAME="external-dev-universal") OR
        (PREVIOUSCHANNELNAME="internal-dev-universal") OR
        (REMOVE="ALL")
      </Condition>
    <?endif?>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='GoogleDir' Name='Google'>
          <Directory Id='GIMEJaDir' Name='Google Japanese Input'>
            <Component Id='GIMEJaConverter' Guid='*'>
              <File Id='GoogleIMEJaConverter.exe'
                  Name='GoogleIMEJaConverter.exe' DiskId='1'
                  Checksum='yes' Source='$(var.MozcServer64Path)' Vital='yes' />
            </Component>
            <Component Id='GIMEJaCacheService' Guid='*'>
              <File Id='GoogleIMEJaCacheService.exe'
                  Name='GoogleIMEJaCacheService.exe' DiskId='1'
                  Checksum='yes' Source='$(var.MozcCacheService64Path)'
                  Vital='yes' KeyPath='yes' />
              <!--
                To use localized description, set Description as follows:
                  Description='@[#GoogleIMEJaCacheService.exe],-N'
                where N is the resource ID for the description.
                http://msdn.microsoft.com/en-us/library/ms685156.aspx

                See server/mozc_cache_service_resource.h for resource IDs
                used below.

                The servie name specified in 'Name' needs to be the same to
                |mozc::kMozcCacheServiceName| defined in base/const.h.
                TODO(yukawa): Share these parameters. http://b/2357270
              -->
              <ServiceInstall Id='GoogleIMEJaCacheService'
                  Name='GoogleIMEJaCacheService'
                  DisplayName='@[#GoogleIMEJaCacheService.exe],-100'
                  Description='@[#GoogleIMEJaCacheService.exe],-101'
                  Type='ownProcess' Start='auto' ErrorControl='normal' />
              <!--
                The following entry which stops our cache service both on
                installation and uninstallation should be the first entry in
                the ServiceControl table.  Otherwise, restart manager does not
                recognise that the specified service will be stopped during the
                instalaltion.  See http://b/2440272 for details.
              -->
              <ServiceControl Id='StopGoogleIMEJaCacheService'
                  Name='GoogleIMEJaCacheService' Stop='both' Remove='uninstall'
                  Wait='yes' />
            </Component>
            <Component Id='GIMEJaTIP32' Guid='*' Permanent='no'>
              <File Id='GoogleIMEJaTIP32.dll'
                  Name='GoogleIMEJaTIP32.dll'
                  DiskId='1' Checksum='yes'
                  Source='$(var.MozcTIP32Path)' Vital='yes' />
            </Component>
            <Component Id='GIMEJaTIP64' Guid='*' Permanent='no'>
              <File Id='GoogleIMEJaTIP64.dll'
                  Name='GoogleIMEJaTIP64.dll'
                  DiskId='1' Checksum='yes'
                  Source='$(var.MozcTIP64Path)' Vital='yes' />
            </Component>
            <Component Id='GIMEJaBroker' Guid='*' Permanent='no'>
              <File Id='GoogleIMEJaBroker.exe'
                  Name='GoogleIMEJaBroker.exe'
                  DiskId='1' Checksum='yes'
                  Source='$(var.MozcBroker64Path)' Vital='yes' />
            </Component>
            <Component Id='GIMEJaRenderer' Guid='*'>
              <File Id='GoogleIMEJaRenderer.exe'
                  Name='GoogleIMEJaRenderer.exe' DiskId='1' Vital='yes'
                  Checksum='yes' Source='$(var.MozcRenderer64Path)' />
            </Component>
            <?if ($(var.VSConfigurationName) = "Release") and ($(var.Qt5CoreDllPath) != "") ?>
              <Component Id='msvcp140' Guid='*'>
                <File Id='msvcp140.dll' Name='msvcp140.dll'
                    DiskId='1' Checksum='yes'
                    Source='$(var.ReleaseRedistCrt32Dir)/msvcp140.dll' />
              </Component>
              <Component Id='vcruntime140' Guid='*'>
                <File Id='vcruntime140.dll' Name='vcruntime140.dll'
                    DiskId='1' Checksum='yes'
                    Source='$(var.ReleaseRedistCrt32Dir)/vcruntime140.dll' />
              </Component>
            <?endif?>
            <Component Id='GIMEJaTool' Guid='*'>
              <File Id='GoogleIMEJaTool.exe'
                  Name='GoogleIMEJaTool.exe' DiskId='1'
                  Checksum='yes' Source='$(var.MozcToolPath)' Vital='yes' />
            </Component>
            <?if $(var.VSConfigurationName) = "Debug" ?>
              <?if $(var.Qt5CoredDllPath) != "" ?>
                <Component Id='Qt5CoredDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Cored.dll' Name='Qt5Cored.dll' On="install" />
                  <File Id='Qt5Cored.dll'
                      Name='Qt5Cored.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5CoredDllPath)' />
                </Component>
              <?endif?>
              <?if $(var.Qt5GuidDllPath) != "" ?>
                <Component Id='Qt5GuidDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Guid.dll' Name='Qt5Guid.dll' On="install" />
                  <File Id='Qt5Guid.dll'
                      Name='Qt5Guid.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5GuidDllPath)' />
                </Component>
              <?endif?>
              <?if $(var.Qt5WidgetsdDllPath) != "" ?>
                <Component Id='Qt5WidgetsdDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Widgetsd.dll' Name='Qt5Widgetsd.dll' On="install" />
                  <File Id='Qt5Widgetsd.dll'
                      Name='Qt5Widgetsd.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5WidgetsdDllPath)' />
                </Component>
              <?endif?>
            <?else?>
              <?if $(var.Qt5CoreDllPath) != "" ?>
                <Component Id='Qt5CoreDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Core.dll' Name='Qt5Core.dll' On="install" />
                  <File Id='Qt5Core.dll'
                      Name='Qt5Core.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5CoreDllPath)' />
                </Component>
              <?endif?>
              <?if $(var.Qt5GuiDllPath) != "" ?>
                <Component Id='Qt5GuiDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Gui.dll' Name='Qt5Gui.dll' On="install" />
                  <File Id='Qt5Gui.dll'
                      Name='Qt5Gui.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5GuiDllPath)' />
                </Component>
              <?endif?>
              <?if $(var.Qt5WidgetsDllPath) != "" ?>
                <Component Id='Qt5WidgetsDll' Guid='*'>
                  <!-- Always overwrite: b/31845781 -->
                  <RemoveFile Id='Qt5Widgets.dll' Name='Qt5Widgets.dll' On="install" />
                  <File Id='Qt5Widgets.dll'
                      Name='Qt5Widgets.dll' DiskId='1' Vital='yes'
                      Checksum='yes' Source='$(var.Qt5WidgetsDllPath)' />
                </Component>
              <?endif?>
            <?endif?>
            <Directory Id='DocumentsDir' Name='documents'>
              <Component Id='CreditsEn' Guid='*'>
                <File Id='credits_en.html' Name='credits_en.html' DiskId='1'
                      Checksum='yes' Vital='yes'
                      Source='$(var.DocumentsDir)/credits_en.html' />
              </Component>
            </Directory>
            <?if ($(var.QWindowsdDllPath) != "") or ($(var.QWindowsDllPath) != "") ?>
              <Directory Id='QtPlatformsPluginDir' Name='platforms'>
                <?if ($(var.QWindowsdDllPath) != "") and ($(var.VSConfigurationName) = "Debug") ?>
                  <Component Id='QWindowsdDll' Guid='*'>
                    <!-- Always overwrite: b/31845781 -->
                    <RemoveFile Id='qwindowsd.dll' Name='qwindowsd.dll' On="install" />
                    <File Id='qwindowsd.dll'
                        Name='qwindowsd.dll' DiskId='1' Vital='yes'
                        Checksum='yes' Source='$(var.QWindowsdDllPath)' />
                  </Component>
                <?endif?>
                <?if ($(var.QWindowsDllPath) != "") and ($(var.VSConfigurationName) != "Debug") ?>
                  <Component Id='QWindowsDll' Guid='*'>
                    <!-- Always overwrite: b/31845781 -->
                    <RemoveFile Id='qwindows.dll' Name='qwindows.dll' On="install" />
                    <File Id='qwindows.dll'
                        Name='qwindows.dll' DiskId='1' Vital='yes'
                        Checksum='yes' Source='$(var.QWindowsDllPath)' />
                  </Component>
                <?endif?>
              </Directory>
            <?endif?>
          </Directory>
        </Directory>
      </Directory>

      <!-- Write registry keys to make the installer compatible with Omaha. -->
      <Component Id='OmahaRegister' Guid='*'>
        <RegistryValue Id='OmahaClientRegPv' Root='HKLM'
            Key='$(var.OmahaClientKey)'
            Name='pv' Value='$(var.MozcVersion)' Action='write'
            Type='string' />
        <RegistryValue Id='OmahaClientRegName' Root='HKLM'
            Key='$(var.OmahaClientKey)'
            Name='name' Value='Google 日本語入力' Action='write'
            Type='string' />
        <RegistryValue Id='OmahaClientRegLang' Root='HKLM'
            Key='$(var.OmahaClientKey)'
            Name='lang' Value='ja' Action='write'
            Type='string' />
        <RegistryValue Id='OmahaClientRegOOPCrashes' Root='HKLM'
            Key='$(var.OmahaClientKey)'
            Name='oopcrashes' Value='1' Action='write'
            Type='integer' />
        <!-- enable usagestats for dev channel users -->
        <?if ($(var.OmahaChannelType) = "dev") ?>
          <RegistryValue Id='OmahaUsageStats' Root='HKLM'
              Key='$(var.OmahaClientStateKey)'
              Name='usagestats' Value='1' Action='write'
              Type='integer' />
        <?endif?>
      </Component>

      <!--
        Write registry keys to make sure GoogleIMEJaConverter.exe and
        GoogleIMEJaRenderer.exe exit when a user logoff via remote desctop
        connection.
      -->
      <Component Id='SysProcs' Guid='*'>
        <RegistryValue Id='SysProcsGIMEJaConverter' Root='HKLM'
            Key='SYSTEM\CurrentControlSet\Control\Terminal Server\SysProcs'
            Name='GoogleIMEJaConverter.exe' Value='0' Action='write'
            Type='integer' />
        <RegistryValue Id='SysProcsGIMEJaRenderer' Root='HKLM'
            Key='SYSTEM\CurrentControlSet\Control\Terminal Server\SysProcs'
            Name='GoogleIMEJaRenderer.exe' Value='0' Action='write'
            Type='integer' />
      </Component>

      <Component Id='OmahaRegLaunchCmdLine' Guid='*' Permanent='no'>
        <Condition>(NOT UPGRADING)</Condition>
        <RegistryValue Id='OmahaLaunchCmdLineValue' Root='HKLM'
            Key='$(var.OmahaClientStateKey)'
            Name='InstallerSuccessLaunchCmdLine' Action='write' Type='string'
            Value='&quot;[GIMEJaDir]GoogleIMEJaTool.exe&quot; --mode=post_install_dialog' />
      </Component>

      <!--
        Write a registry key to launch GoogleIMEJaConverter.exe and
        GoogleIMEJaRenderer.exe automatically after user logon.
      -->
      <Component Id='PrelaunchProcesses' Guid='*'>
        <RegistryValue Id='RunBroker' Root='HKLM'
            Key='Software\Microsoft\Windows\CurrentVersion\Run'
            Name='Google Japanese Input Prelauncher' Action='write' Type='string'
            Value='&quot;[GIMEJaDir]GoogleIMEJaBroker.exe&quot; --mode=prelaunch_processes' />
      </Component>
    </Directory>

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion
          Minimum='0.0.0.0' IncludeMinimum='yes'
          Maximum='$(var.MozcVersion)' IncludeMaximum='no'
          OnlyDetect='no' Property='UPGRADING'/>
      <UpgradeVersion
          Minimum='$(var.MozcVersion)' IncludeMinimum='yes'
          OnlyDetect='yes' Property='NEWERVERSIONDETECTED' />
    </Upgrade>

    <UI>
      <Error Id="4000">新しいバージョンの Google 日本語入力が既にインストールされています。</Error>
    </UI>

    <Feature Id='GIMEJaInstall' Title='Google 日本語入力' Level='1'>
      <ComponentRef Id='GIMEJaTIP32' />
      <ComponentRef Id='GIMEJaTIP64' />
      <ComponentRef Id='GIMEJaBroker' />
      <ComponentRef Id='GIMEJaConverter' />
      <ComponentRef Id='GIMEJaCacheService' />
      <ComponentRef Id='GIMEJaRenderer' />
      <ComponentRef Id='GIMEJaTool' />
      <?if ($(var.VSConfigurationName) = "Release") and ($(var.Qt5CoreDllPath) != "") ?>
        <ComponentRef Id='msvcp140' />
        <ComponentRef Id='vcruntime140' />
      <?endif?>
      <?if $(var.VSConfigurationName) = "Debug" ?>
        <?if $(var.Qt5CoredDllPath) != "" ?>
          <ComponentRef Id='Qt5CoredDll' />
        <?endif?>
        <?if $(var.Qt5GuidDllPath) != "" ?>
          <ComponentRef Id='Qt5GuidDll' />
        <?endif?>
        <?if $(var.Qt5WidgetsdDllPath) != "" ?>
          <ComponentRef Id='Qt5WidgetsdDll' />
        <?endif?>
        <?if $(var.QWindowsdDllPath) != "" ?>
          <ComponentRef Id='QWindowsdDll' />
        <?endif?>
      <?else?>
        <?if $(var.Qt5CoreDllPath) != "" ?>
          <ComponentRef Id='Qt5CoreDll' />
        <?endif?>
        <?if $(var.Qt5GuiDllPath) != "" ?>
          <ComponentRef Id='Qt5GuiDll' />
        <?endif?>
        <?if $(var.Qt5WidgetsDllPath) != "" ?>
          <ComponentRef Id='Qt5WidgetsDll' />
        <?endif?>
        <?if $(var.QWindowsDllPath) != "" ?>
          <ComponentRef Id='QWindowsDll' />
        <?endif?>
      <?endif?>
      <ComponentRef Id='OmahaRegister' />
      <ComponentRef Id='OmahaRegLaunchCmdLine' />
      <ComponentRef Id='SysProcs' />
      <ComponentRef Id='PrelaunchProcesses' />
      <ComponentRef Id='CreditsEn' />
    </Feature>

    <Binary Id='CustomActions32' SourceFile='$(var.CustomActions32Path)' />
    <Binary Id='CustomActions64' SourceFile='$(var.CustomActions64Path)' />

    <CustomAction Id='RegisterTIP32' BinaryKey='CustomActions32'
        DllEntry='RegisterTIP' Execute='deferred' Impersonate='no' />
    <CustomAction Id='RegisterTIPRollback32' BinaryKey='CustomActions32'
        DllEntry='RegisterTIPRollback' Execute='rollback' Impersonate='no' />
    <CustomAction Id='UnregisterTIP32' BinaryKey='CustomActions32'
        DllEntry='UnregisterTIP' Execute='deferred' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='UnregisterTIPRollback32' BinaryKey='CustomActions32'
        DllEntry='UnregisterTIPRollback' Execute='rollback' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='RegisterTIP64' BinaryKey='CustomActions64'
        DllEntry='RegisterTIP' Execute='deferred' Impersonate='no' />
    <CustomAction Id='RegisterTIPRollback64' BinaryKey='CustomActions64'
        DllEntry='RegisterTIPRollback' Execute='rollback' Impersonate='no' />
    <CustomAction Id='UnregisterTIP64' BinaryKey='CustomActions64'
        DllEntry='UnregisterTIP' Execute='deferred' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='UnregisterTIPRollback64' BinaryKey='CustomActions64'
        DllEntry='UnregisterTIPRollback' Execute='rollback' Impersonate='no'
        Return='ignore' />
    <CustomAction Id='EnsureAllApplicationPackagesPermisssions'
        BinaryKey='CustomActions64'
        DllEntry='EnsureAllApplicationPackagesPermisssions' Execute='deferred'
        Impersonate='no' Return='ignore' />
    <CustomAction Id='OpenUninstallSurveyPage' BinaryKey='CustomActions32'
        DllEntry='OpenUninstallSurveyPage' Impersonate='yes' Return='ignore' />
    <CustomAction Id='ShutdownServer' BinaryKey='CustomActions32'
        DllEntry='ShutdownServer' Impersonate='yes' Return='ignore' />
    <CustomAction Id='RestoreUserIMEEnvironment' BinaryKey='CustomActions64'
        DllEntry='RestoreUserIMEEnvironment' Impersonate='yes' Return='ignore'/>
    <CustomAction Id='EnsureIMEIsDisabledForServiceAccountBeforeUninstall'
        BinaryKey='CustomActions64' Execute='deferred'
        DllEntry='EnsureIMEIsDisabledForServiceAccount' Impersonate='no'
        Return='ignore'/>
    <CustomAction Id='EnsureIMEIsDisabledForServiceAccountAfterInstall'
        BinaryKey='CustomActions64' Execute='deferred'
        DllEntry='EnsureIMEIsDisabledForServiceAccount' Impersonate='no'
        Return='ignore'/>
    <CustomAction Id='InitialInstallation' BinaryKey='CustomActions32'
        DllEntry='InitialInstallation' Execute='deferred'
        Impersonate='no' />
    <CustomAction Id='InitialInstallationCommit' BinaryKey='CustomActions32'
        DllEntry='InitialInstallationCommit' Execute='commit'
        Impersonate='no' />
    <CustomAction Id='HideCancelButton' BinaryKey='CustomActions32'
        DllEntry='HideCancelButton' Return='ignore' />
    <CustomAction Id='SaveCustomActionData' BinaryKey='CustomActions32'
        DllEntry='SaveCustomActionData' />
    <CustomAction Id='RestoreServiceState' BinaryKey='CustomActions32'
        DllEntry='RestoreServiceState' Impersonate='no' Execute='deferred'
        Return='ignore' />
    <CustomAction Id='StopCacheServiceForRollback' BinaryKey='CustomActions32'
        DllEntry='StopCacheService' Impersonate='no'
        Execute='rollback' Return='ignore' />
    <CustomAction Id='WriteApValue' BinaryKey='CustomActions32'
        DllEntry='WriteApValue' Execute='deferred' Impersonate='no' />
    <CustomAction Id='WriteApValueRollback' BinaryKey='CustomActions32'
        DllEntry='WriteApValueRollback' Execute='rollback' Impersonate='no' />
    <CustomAction Id="NewerVersionError" Error="4000"/>

    <InstallExecuteSequence>
      <Custom Action='HideCancelButton' After='InitialInstallation' />
      <Custom Action='InitialInstallation' After='InstallInitialize'>
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='SaveCustomActionData' Before='StopServices' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='WriteApValueRollback' Before='WriteApValue' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='WriteApValue' Before='SelfUnregModules' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <SelfUnregModules />
      <Custom Action='RestoreUserIMEEnvironment' After='SelfUnregModules'>
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <!--
        EnsureIMEIsDisabledForServiceAccountBeforeUninstall should be invoked
        before Mozc's KLID is removed, which means you should call this action
        before UnregisterTIPRollback64.
      -->
      <Custom Action='EnsureIMEIsDisabledForServiceAccountBeforeUninstall'
          After='RestoreUserIMEEnvironment' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <!-- This action invoked only when removal of the old product failed. -->
      <Custom Action='UnregisterTIPRollback64'
          After='EnsureIMEIsDisabledForServiceAccountBeforeUninstall' >
        (REMOVE="ALL") AND UPGRADINGPRODUCTCODE AND (VersionNT64)
      </Custom>
      <Custom Action='UnregisterTIP64' After='UnregisterTIPRollback64' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE) AND (VersionNT64)
      </Custom>
      <!-- This action invoked only when removal of the old product failed. -->
      <Custom Action='UnregisterTIPRollback32' After='UnregisterTIP64' >
        (REMOVE="ALL") AND UPGRADINGPRODUCTCODE
      </Custom>
      <Custom Action='UnregisterTIP32' After='UnregisterTIPRollback32' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <Custom Action='OpenUninstallSurveyPage' After='UnregisterTIP32' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE) AND (UILevel &gt;= 3)
      </Custom>
      <SelfRegModules />
      <!--
        The InstallValidate action notifies the user
        if GoogleIMEJaConverter.exe and GoogleIMEJaRenderer.exe
        are currenly running. So the ShutdownServer action
        needs to be callled before the InstallValidate action.
      -->
      <Custom Action='ShutdownServer' Before='InstallValidate' >
        (REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)
      </Custom>
      <Custom Action='NewerVersionError' After='FindRelatedProducts'>
        NEWERVERSIONDETECTED
      </Custom>
      <!--
        RemoveExistingProducts needs to be scheduled between InstallExecute and
        InstallFinalize to correctly deal with errors which occur when the old
        product is removed on upgrade.
        http://msdn.microsoft.com/en-us/library/aa371197(VS.85).aspx
      -->
      <InstallExecute Before='RemoveExistingProducts' />
      <RemoveExistingProducts Before='StopCacheServiceForRollback' />
      <!--
        When the installer enters rollback mode, the cache service should be
        stopped before RemoveExistingProducts is invoked.
      -->
      <Custom Action='StopCacheServiceForRollback' Before='RestoreServiceState'>
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='RestoreServiceState' Before='RegisterTIPRollback32'>
        (NOT (REMOVE="ALL"))
      </Custom>
      <!--
        If error occurs after RegisterTIP32,
        the registration needs to be canceled by registering the old product.
        So RegisterTIP32 needs to be scheduled after RemoveExistingProduct.
      -->
      <Custom Action='RegisterTIPRollback32' Before='RegisterTIP32' >
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='RegisterTIP32' Before='RegisterTIPRollback64' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='RegisterTIPRollback64' Before='RegisterTIP64' >
        (NOT (REMOVE="ALL")) AND (VersionNT64) AND (NOT UPGRADING)
      </Custom>
      <Custom Action='RegisterTIP64'
          Before='EnsureAllApplicationPackagesPermisssions' >
        (NOT (REMOVE="ALL")) AND (VersionNT64)
      </Custom>
      <Custom Action='EnsureAllApplicationPackagesPermisssions'
          Before='EnsureIMEIsDisabledForServiceAccountAfterInstall' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='EnsureIMEIsDisabledForServiceAccountAfterInstall'
          Before='InstallFinalize' >
        (NOT (REMOVE="ALL"))
      </Custom>
      <Custom Action='InitialInstallationCommit'
          After='EnsureIMEIsDisabledForServiceAccountAfterInstall'>
        (NOT (REMOVE="ALL")) AND (NOT UPGRADING)
      </Custom>
      <!-- show reboot dialog to execute pending file opartions -->
      <?if ($(var.VSConfigurationName) = "Release") ?>
        <ScheduleReboot After='InstallFinalize'>
          (REMOVE="ALL")
        </ScheduleReboot>
      <?endif?>
    </InstallExecuteSequence>
  </Product>
</Wix>
